/* IE6/7/8 - Must be first */  
@font-face {  
	font-family: goudy ;  
	src: url(goudy.eot);  
}  
	 
/* FFx3.5/Safari/Op10 - Next */  
@font-face {  
	font-family: goudy ;  
	src: url(goudy.ttf ) format("truetype");  
}  


.container {
    width: 1024px;
}

.dropdown {
    display: inherit !important;
}

.navbar{
	border: none;
}

.navbar-inverse{
	border-color: transparent; 
	background-color: transparent;
}

.navbar-header {
  
    text-align: center;
    width: 100%;
}

.page-title, .page-title:hover{
	text-decoration:none;  
	
	font-family: goudy , georgia, verdana, helvetica, sans-serif;
    font-size: 50px;
    color: #FDDE7C;
}

 html, body {
    margin:0;
    padding:0;
}

html{
    padding: 0; margin: 0;
}


body{
	background-color: #000;
	color: #fff;
	position:relative;

}

.pcontainer{
	background-image: url("tuli.png");
	background-position: center bottom;
	background-repeat: no-repeat;
	margin-bottom: 2px;
	min-height: 750px;
}

.sfooter {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 26px;
    text-align: center;
    font-size: 18px;
    background-color: transparent;
}


#catalog, #category{	
	margin-top: 50px;
	min-height: 500px;
}

.categoryLabel{
	text-decoration:none;  
	font-family: goudy , georgia, verdana, helvetica, sans-serif;
    font-size: 26px;
    color: #FDDE7C;
}

.categoryLabel:hover{
	text-decoration:none;  
    color: #FDC17C;
}

.imageLink{
	display: inline-block;
	margin-bottom: 30px;
}

.model{
	margin-top: 50px;
	text-align: center;
	margin-bottom: 60px;
}

.thumb{

}

#category{
	margin-top: 130px;
}

.categoryfooter{
	margin-bottom: 60px;
	clear: both;
	text-align: center;
}

 .modelthumb{
 	min-height: 250px;
 }
 
 .modelLabel, .modelLabel:hover{
    text-decoration:none;  
	font-family: helvetica, sans-serif;
    font-size: 18px;
    color: #FDDE7C;
    display:inline-block;
 }
